<% content_for :head do  %>
  全部课程
<% end %>
<% @courses.each do |course| %>
  <div class="course">
    <%= link_to course, class: "cover" do%>
      <%= image_tag course.cover %>
    <% end %>
    <p class="title"><%= course.name %></p>
    <ul class="action">
      <li><%= link_to 'Edit', edit_course_path(course) %></li>
      <li><%= link_to 'Destroy', course, method: :delete, data: { confirm: 'Are you sure?'} %></li>
    </ul>
    <p class="price"><%= course.price %></p>
  </div>
<% end %>

<%= link_to 'New Course', new_course_path %>
