<% content_for :head do  %>
  全部课程
<% end %>
<div class="courses clearfix">
<% @courses.each do |course| %>
  <div class="course">
    <%= link_to course, class: "cover" do%>
      <%= image_tag course.cover %>
    <% end %>
    <p class="title"><%= course.name %></p>
    <ul class="action">
      <li class="date"><%= course.updated_at.strftime('%F') %>更新</li>
      <li class="price">
        <% if course.price > 0 %>
          <%= course.price %>元
        <% else %>
          免费
        <% end %>
      </li>
    </ul>
  </div>
<% end %>
</div>

<div class="new-course"><%= link_to '新建课程', new_course_path%></div>
