<% content_for :head do %>
  <%= @course.name %>
<% end %>
<div class="course-show clearfix">
  <div class="cover">
    <%= image_tag @course.cover %>
    <%= link_to '编辑', edit_course_path(@course) %> |
    <%= link_to '首页', courses_path %>
  </div>
  <div class="buy-course">
    <%= link_to "购买课程 #{@course.price} 元", '' %>
  </div>
</div>
